@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-open-sans: "Open Sans", sans-serif;
}

@layer components {
  .font-inter {
    font-family: var(--font-inter);
  }

  .font-rubik {
    font-family: var(--font-rubik);
  }

  .font-playfair {
    font-family: var(--font-playfair);
  }

  .font-open-sans {
    font-family: var(--font-open-sans);
  }
}